################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Boost.Asio_CPP_Network_Programming/v15
/.vs
/Chapter1_Client/Debug
/Chapter1_Client/Release
/Chapter1_Client/x64
/Chapter1_Server/Debug
/Chapter1_Server/x64
/Chapter1_Server/Release
/Chapter2_Client/x64
/Chapter2_Client/Release
/Chapter2_Client/Debug
/Chapter2_Server/x64
/Chapter2_Server/Release
/Chapter2_Server/Debug
/Chapter3_Client/x64
/Chapter3_Client/Release
/Chapter3_Client/Debug
/Chapter3_Server/x64
/Chapter3_Server/Release
/Chapter3_Server/Debug
/Chapter4_Client/x64
/Chapter4_Client/Release
/Chapter4_Client/Debug
/Chapter4_Server/x64
/Chapter4_Server/Release
/Chapter4_Server/Debug
/Chapter5_Client/x64
/Chapter5_Client/Release
/Chapter5_Client/Debug
/Chapter5_Server/x64
/Chapter5_Server/Release
/Chapter5_Server/Debug
/Chapter6_Client/x64
/Chapter6_Client/Release
/Chapter6_Client/Debug
/Chapter6_Server/x64
/Chapter6_Server/Release
/Chapter6_Server/Debug
/x64
/Release
/Debug
/Boost.Asio_CPP_Network_Programming.v12.suo
/Boost.Asio_CPP_Network_Programming.sdf
